{{define "layout"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}{{if .Period}} (for {{.Period}} on {{.Weekday}}){{end}}</title>
    <link rel="stylesheet" href="/static/lightwebapp.css">
    <link rel="stylesheet" href="/static/anything.css">

    <link rel="icon" href="/static/icon16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="/static/icon48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/static/icon192.png" sizes="192x192" type="image/png">
    <link rel="icon" href="/static/icon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/static/icon180.png" sizes="180x180" type="image/png">
</head>

<body>
    <main class="lightwebapp">
        {{template "page" .}}
    </main>
    {{template "scripts" .}}
</body>

</html>
{{end}}
