{{define "page"}}
{{template "nav" .}}
<div class="day-nav">
    <a class="day-nav-arrow" href="/votes?period={{.Period}}&amp;weekday={{.PrevWeekdayShort}}&amp;token={{.Token}}">🢐</a>
    <span class="day-nav-label">{{.Weekday}}</span>
    <a class="day-nav-arrow" href="/votes?period={{.Period}}&amp;weekday={{.NextWeekdayShort}}&amp;token={{.Token}}">🢒</a>
</div>
{{template "entrylist" .}}
{{end}}

{{define "entry"}}
<div class="entry" {{if .Closed}} style="opacity: 0.5" {{end}}>
    <div>{{.Name}}</div>
    <span class="entry-tally">{{if .StrongNo}}<span class="svg-strong-no"></span> · {{end}}{{.Score}} · {{.CostDisplay}}</span>
</div>
{{end}}

{{define "scripts"}}
{{template "icons" "16"}}
{{end}}
