{{define "page"}}
{{template "nav" .}}
<form method="POST" action="/votes?token={{.Token}}">
    {{template "entrylist" .}}
    <button type="submit" class="blue">Submit</button>
</form>
{{end}}

{{define "entry"}}
    <div class="entry">
        <div>{{.Name}}</div>
        <fieldset class="radio-group">
            <input type="radio" class="vote" name="{{.Group}}|{{.Name}}" id="{{.Group}}|{{.Name}} strong-no" value="strong-no"{{if eq .CurrentVote "strong-no"}} checked{{end}} />
            <label for="{{.Group}}|{{.Name}} strong-no"><span class="svg-strong-no"></span></label>

            <input type="radio" class="vote" name="{{.Group}}|{{.Name}}" id="{{.Group}}|{{.Name}} no" value="no"{{if eq .CurrentVote "no"}} checked{{end}} />
            <label for="{{.Group}}|{{.Name}} no"><span class="svg-no"></span></label>

            <input type="radio" class="vote" name="{{.Group}}|{{.Name}}" id="{{.Group}}|{{.Name}} yes" value="yes"{{if eq .CurrentVote "yes"}} checked{{end}} />
            <label for="{{.Group}}|{{.Name}} yes"><span class="svg-yes"></span></label>

            <input type="radio" class="vote" name="{{.Group}}|{{.Name}}" id="{{.Group}}|{{.Name}} strong-yes" value="strong-yes"{{if eq .CurrentVote "strong-yes"}} checked{{end}} />
            <label for="{{.Group}}|{{.Name}} strong-yes"><span class="svg-strong-yes"></span></label>
        </fieldset>
    </div>
{{end}}

{{define "scripts"}}
{{template "icons" "24"}}
{{end}}
